<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "/">Index</a>
    <a href = "bini">Bini</a>
    <a href = "kath">Kath</a>
    <a href = "besas">Besas</a>
    <a href = "deleon">Deleon</a>

    <br>
    <h1>Index</h1>
</body>
</html>